<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> GamerZ </title> 
	<link rel="stylesheet" media="screen" type="text/css" href="./assets/css/styles.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="./assets/js/jquery.autocomplete.min.js"></script>
	<script type="text/javascript" src="./assets/js/search.js"></script>
</head>


<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div id="header">
		<div id="content_header">
		 	<div id="connection"> <img src="./assets/img/connection.png"> </div>
			<div id="top_barre">
				<div id="logo"> <a href="./"><img src="./assets/img/gamerz.png"></a> </div>
				<div id="space_1"> </div>
				<div id="search_"> 
					<form class="form-wrapper" method="post">
					<div class="btn-left-loupe"></div>
					<input class="search_data" name="saisie" type="text" id="search" placeholder="Mots-Clefs..." />
					<button type="submit">Search</button>
					</form>
				</div>
				<div id="menu">
					<ul>
	                    <li>
	                        <a href="#">Discovers</a>
	                    </li>
	                </ul>
	                <div id="space_3"> </div>
	                <ul>
	                    <li>
	                        <a href="#">Plateforms</a>
	                    </li>
	                </ul>
	            </div>
	           
	        </div>
	    </div>
    </div>


    <div id="corps-game">
    	<div id="corps-game-block-left">
    		<img src="./assets/img/assasins.png" class="corps-game-img">
    		<div id="content-block-left">
    			<div id="block-left-block-title">
    				<h1> Assassin's Creed IV - Black Flag </h1>
    				<p class="liste-consoles"><strong>Consoles :</strong> PC, PS4, PS3, Xbox One, Xbox 360, Wii, Wii U, Nintendo 3DS</p> <br>
    				<p class="note-block-title"> Note : 18/20</p>
    			</div>
    		</div>
	    		
    	</div>
    	<div id="corps-game-block-right">
	    	<div id="menu-game">
	    		<ul>
	    			<li><img src="./assets/img/description-menu.png"><a href="#"> Description </a></li><span class="border-menu">|</span>
	    			<li><img src="./assets/img/actualites-menu.png"><a href="#"> Actualités </a></li><span class="border-menu">|</span>
	    			<li><img src="./assets/img/test-menu.png"><a href="#"> Tests </a></li><span class="border-menu">|</span>
	    			<li><img src="./assets/img/note-menu.png"><a href="#"> Notes </a></li><span class="border-menu">|</span>
	    			<li><img src="./assets/img/avis-menu.png"><a href="#"> Avis </a></li><span class="border-menu">|</span>
	    			<li class="buy-menu"><img src="./assets/img/acheter-menu.png"><a href="#"> Acheter </a></li>
	    		</ul>
	    	</div>
	    	
	    	<div id="game-content">
	    		<div id="game-description">
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula nulla, malesuada ut nisl at, aliquam ultrices elit. Sed pretium velit vitae purus cursus, ut commodo ex sollicitudin. Mauris ultrices auctor massa vel ultricies. Pellentesque porttitor condimentum pharetra. Fusce tincidunt dapibus pellentesque. Pellentesque convallis ultricies tincidunt. Suspendisse elementum leo mauris, vel ultrices diam aliquet ac.</p>

<p>Pellentesque vehicula suscipit suscipit. Etiam in venenatis quam, eu sodales nunc. Etiam sollicitudin leo ut faucibus tincidunt. Vestibulum eu sem commodo, posuere erat nec, vulputate sem. Donec vel dignissim velit. Curabitur eleifend erat sed hendrerit auctor. Maecenas sapien justo, imperdiet eget iaculis a, sollicitudin in diam. Donec et ligula laoreet, mattis tellus sed, dignissim sem. Etiam facilisis euismod sem vitae aliquam. Ut risus nisl, dictum viverra pellentesque in, gravida sit amet urna.</p>

<p>Etiam ultrices sed erat ac dignissim. Sed tempus orci nec ligula ultrices facilisis. Ut imperdiet pellentesque nisi sed egestas. Donec consectetur fringilla ante vel tincidunt. Suspendisse tincidunt elit nec justo faucibus ultricies a sit amet mauris. Etiam ut consectetur nunc, sed dignissim mi. Sed quis dolor sapien. Maecenas non pellentesque ipsum. Nam porta velit eros, in elementum erat imperdiet vitae. Nunc venenatis nisl in semper gravida.</p>
	
				</div>
				<div class="fb-block">
				
					<div class="fb-like-box" data-href="https://www.facebook.com/assassinscreed.france" data-width="350" data-height="400" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="true">
					</div>

				</div>
				
				<div class="clear" style="clear:both"></div>
	    	</div>
	    	<div class="separateur-block"></div>




	    </div>
	    	
	    	
	    	
	    	
	    	
    </div>
    	
    	
    	
    	
    </div>

    	
</body>		