@font-face {
    font-family: AvenirFont;
    src: url(../font/avenir-next-regular.woff);
}


body
{
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    background:url("../img/bg.png");
      transition : 0.4s;

}

#header
{
		width: 100%;
		height: 40px;
		background-image: url("../img/bg_header.png");
		background-repeat: repeat-x;
}

#content_header
{
		width: 90%;
		height: 60px;
		margin:  auto;
}

#top_barre
{
		width: 100%;
}

#logo
{
		float: left;
		display: inline-block;
		margin-top: 10px;
}

#logo img
{
	width : 100px;
}

#space_1
{
		display: inline-block;
		width: 100px;
}

#search_
{
		display: inline-block;
		height: 20px;

		background-color: white;
		margin-top: 10px;
}

#space
{
		display: inline-block;
		width: 100px;
}

.search_data
{
		width: 240px;

		border: 0px;
		padding-left: 4px;
}

.btn-right-fleche
{
		margin-left:-6px;
		background: red;
}

.form-wrapper button
{
	    position: relative;
	    float: right;
	    border: 0;
	    cursor: pointer;
	    height: 20px;
	    width: 100px;
	    font: bold 10px'lucida sans', 'trebuchet MS', 'Tahoma';
	    color: #fff;
	    text-transform: uppercase;
	    background: #d83c3c;
}

.form-wrapper button:hover
{
    	background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus
{
	    background: #c42f2f;
	    outline: 0;
}

.form-wrapper button:before
{
	    content: '';
	    position: absolute;
	    border-width: 8px 8px 8px 0;
	    border-style: solid solid solid none;
	    border-color: transparent #d83c3c transparent;
	    top: 2px;
	    left: -6px;
}

.form-wrapper button:hover:before
{
	    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before
{
        border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner
{
	    border: 0;
	    padding: 0;
}

.autocomplete-suggestions
{
		border: 1px solid #414141;
		background: #FFF;
		overflow: auto;
		cursor:  default;
}

.autocomplete-suggestion
{
		padding: 2px 5px;
		white-space: nowrap;
		overflow: hidden;
		cursor:  default;
}

.autocomplete-selected
{
		background: #F0F0F0;
		cursor:  default;
}

.autocomplete-suggestions strong
{
		font-weight: normal;
		color: #3399FF;
		cursor:  default;
}

#menu
{
		display: inline-block;
}

#menu ul
{
        padding: 0;
        border:0;
        display: inline-block;
        float: left;
        margin-top: 12px;
}


#menu li
{
		vertical-align: top;
        list-style: none;
        text-transform: uppercase;
        font-size: 13px;
        display: inline-block;
        margin-left: 80px;
        margin-top: -10px;
}

#menu ul li a
{
        text-decoration: none;
        height: 35px;
        display: inline-block;
        text-align: center;
        font-family: arial;
        color: white;
        display: inline-block;
}

#space_3
{
		display: inline-block;
		width: 50px;
}


#connection
{
		float: right;
		margin-top: 10px;
}

#connection img
{
		width : 22px;
}









#content_top_game
{
		width: 1500px;
		margin: auto;
		margin-top: 20px;
		background-color: black;
		height : 320px;
		margin-bottom: 30px;
}


#block_left
{
		border : 5px solid #414141;
		width: 270px; /* 16% */
		padding : 10px;
		height : 100%;
		background-color: white;
		display: inline-block;
		vertical-align: top;
}


#content_top_block_left
{
		position: relative;

}

#content_top_block_left .game_img
{
		width : 100%;
}

#logo_block_left
{

	height : 30px;
	position: absolute;
	top : 0;
	right : 0;
	background-color: rgba(255,255,255,0.85);
	padding: 0px 10px 0px 10px
}

#logo_block_left img
{

	width : 25px;
	margin : 2px;

}

#games_name
{
	font-family: AvenirFont;
	font-size: 17px;
	margin-top: 5px;
	color : #c10303;
}

#block_middle
{
	text-align: justify;
	border : 5px solid #414141;
	border-left : 0;
		width: 900px; /* 60% */
		padding : 10px;
		background-color: white;
		display: inline-block;
		vertical-align: top;
		margin-left: -5px;
		min-height: 250px;
		height: 100%;

}

#content_top_block_middle
{
	font-family: AvenirFont;
	font-size: 27px;
}

#content_top_block_middle .sous_titre
{
	font-size: 23px;
	color : #777777;
	margin-left: 20px;
}

#content_middle_block_middle
{
	overflow: hidden;
	max-height: 215px;
	font-family: Arial;
	font-size: 15px;
	width : 100%;
}

#content_bottom_block_middle
{
	height : 60px;
	width : 100%;
}

#content_bottom_block_middle a
{
	font-size: 16px;
	text-decoration: none;
	font-family: AvenirFont;
}

#content_bottom_block_middle .learnmore
{

	color : #414141;
	display: block;
	margin : 10px 0px 20px 0px;
	-webkit-transition : 1s;
	        transition : 1s;
}

#content_bottom_block_middle .learnmore:hover
{
	color : #c60000;
}

#content_bottom_block_middle .category
{
	color : white;
	background-color: #c60000;
	padding : 1px 13px 1px 13px;
	margin : 0px 20px 0px 0px;
	border-radius: 1px;
}

#block_right
{
	border : 5px solid #414141;
	border-left: none;
	margin-left: -5px;
		width: 252px;
		padding : 10px;
		height : 100%;
		background-color: white;
		display: inline-block;
			overflow: scroll;
}

#content_top_block_top
{
	background-color: #414141;
	width : 100%;
	text-align: center;
	color : white;
	padding : 5px 10px 5px 10px;
	margin-left: -10px;
	margin-top: -10px;
	font-family: AvenirFont;
	font-size: 18px;
	margin-bottom: 20px;

}

.content_middle_block_top_img
{
	width : 110px;
	display: inline-block;
	margin-left: 8px;
	margin-right: 3px;

}



.content_middle_block_top_img img
{
	width : 100%;
}

.content_middle_block_top_img h3
{
	font-family: AvenirFont;
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 20px;
	color : #c60000;
}












#content_middle
{
		width: 1500px;
		margin: 20px auto;
}

.content_middle_left
{
		width: 780px;
		display: inline-block;
		margin-top: 30px;
		margin-left: -40px;
    vertical-align : top;

}

.content_middle_right
{
			width: 780px;
		display: inline-block;
		margin-top: 30px;
		margin-left: -25px;

}



.content_middle_left .title_content
{
		font-family: AvenirFont;
		font-size: 27px;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-left: 40px;
}

.content_middle_right .title_content
{
		font-family: AvenirFont;
		font-size: 27px;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-left: 40px;
}

.content_middle_left .block_content_game
{
		width: 190px;
		background-color: white;
		margin-left: 40px;
		display: inline-block;
		padding : 8px;
		border-radius: 1px;
		margin-bottom: 30px;
		margin-top: 15px;
    max-height : 340px;
    height : 340px;
    vertical-align : top;

}

.content_middle_right .block_content_game
{
		width: 190px;
		background-color: white;
		margin-left: 40px;
		display: inline-block;
		padding : 8px;
		border-radius: 1px;
		margin-bottom: 30px;
		margin-top: 15px;
    height : 340px;
    vertical-align : top;
}

.block_content_game:hover
{
	-webkit-box-shadow: inset 0 1px 0 #e3e3e3;

}



.logo_block_bottom
{
	width : 95px;
	height : 24px;
	position: absolute;
	top : 0;
	right : 0;
	background-color: rgba(255,255,255,0.85);
	padding: 0px 2px 0px 2px;
}

.logo_block_bottom img
{
	margin : 2px;
	width : 19px;
}


.block_content_game_img
{
		width: 190px;
		display: inline-block;
		position: relative;
    overflow : hidden;
}

.block_content_game_img .block_bottom_game_img
{
	height : 251px;
  min-width : 190px;

  margin: auto;

}




.content_middle_title
{
	font-family: AvenirFont;
	font-size: 16px;
	margin-top: 2px;
	color : #c10303;
}


.categories
{
		display: inline-block;
		padding-top: 5px;

}

.categories .categorie_middle
{
		color : white;
	background-color: #c60000;
	padding : 1px 10px 1px 10px;
	margin : 0px 20px 0px 0px;
	border-radius: 1px;
	font-size: 15px;
	font-family: AvenirFont;
	text-decoration: none;

}




/*  Page Game  */

#corps-game
{
		width: 1500px;
		margin: auto;
		margin-top: 40px;
		background-color: white;
		height : 780px;
}

#menu-game
{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-left: 27px;
}

#menu-game ul li
{
	display: inline-block;
	font-family: AvenirFont;
	font-size: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#menu-game ul li img
{
	height : 22px;
	margin-bottom: -2px;
}

#menu-game ul .buy-menu
{
	color : #d83c3c;
}

#menu-game .border-menu
{
	color: #cecece;
	opacity: 0.7;
}

#menu-game ul li a
{
	color : black;
	text-decoration: none;
	-webkit-transition : 0.3s;
	        transition : 0.3s;
}

#menu-game ul li a:hover
{
	color : #d83c3c;
}

#corps-game .corps-game-img
{
	width : 465px;
	margin-top: 15px;

}

#corps-game #corps-game-block-left
{
	padding : 0px 15px 0px 15px;
	background-color: #414141;
	height : 100%;
	width : 465px;
	display: inline-block;

}

#corps-game #corps-game-block-right
{
	display: inline-block;
	height : 100%;
	vertical-align: top;
	width : 1000px;
}


/*#corps-game-block-right #game-content
{
	padding: 0px 10px 10px 10px;
	width : 95%;
	display: inline-block;
	text-align: justify;
	margin-left: 10px;
	vertical-align: top;
	font-family: arial;
	font-size: 15px;
}

#corps-game-block-right #game-content #game-description
{
	display: inline-block;
	width : 50px;
}*/

#content-block-left
{
	width : 465px;
}



#block-left-block-title h1
{
	font-size: 28px;
	font-family: AvenirFont;
	color : #474747;
	text-align: center;
	margin-top: 5px;
}

#block-left-block-title
{
	background-color : #eeeeee;
	margin-top: 15px;
	height : 200px;
	width : 453px;
	padding : 10px;
	border:1px solid gray;
	padding:5px;
	box-shadow:2px 2px 10px gray inset;
	-moz-box-shadow:2px 2px 10px gray inset;
	-webkit-box-shadow:2px 2px 10px gray inset;
}

#block-left-block-title .liste-consoles
{
	font-family: AvenirFont;
	font-size: 18px;
	text-align: center;
}

#block-left-block-title .note-block-title
{
	font-family: AvenirFont;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #950a0a;

}

.fb-block
{
	float : right;
	margin-top: 20px;
}

.separateur-block
{
	width : 100%;
	height: 1px;
	background-color: #929292;
	opacity: 0.4;
	margin-top: 10px;

}

#block-tests
{
	margin-top: 20px;
	width : 100%;
	text-align: center;
}

#block-tests .test-mini-block
{
	width : 400px;
	height : 300px;
	background: #454545;
	display: inline-block;
	margin : 10px;
	vertical-align: top;
}


#block-tests .test-mini-block .header-test-mini-block
{
	height : 75px;
	width: 100%;
}

#block-tests .test-mini-block .header-test-mini-block img
{
	float: left;
	max-height : 70px;
	max-width: 240px;
	margin-top: 15px;
	margin-left: 15px;
}

.note-test-mini-block
{
	width : 140px;
	background-color: white;
	height : 50px;
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 10px;
}

.note-test-mini-block span
{
	font-family: AvenirFont;
}

.note-test-mini-block .noteactu
{
	font-size: 40px;
	color : #d20000;
	font-weight: bold;
}

.note-test-mini-block .notemax
{
	font-size: 25px;
}

.content-test-mini-block
{
	width : 350px;
	height : 185px;
	background: white;
	margin-left: 5px;
	text-align: justify;
	overflow: scroll;
	padding: 0px 20px 10px 20px;

}

.test-mini-block .ensavoirplus-test-block
{
	text-decoration: none;
	color : white;
	padding-top: 5px;
	display: block;
}

#test-selected
{
  width : 920px;
  border : 5px solid #454545;
  margin-left : 15px;
  height : 700px;

}

#test-selected-left
{
  width : 550px;
  border-right : 5px solid #454545;
  height : 100%;
  display : inline-block;

}


#test-selected .header-test-selected
{
  height : 90px;
  width: 100%;
  background : #454545;
  text-align : center;
}

#test-selected .header-test-selected img
{
  max-height : 70px;
  max-width: 260px;
  margin-top: 5px;
  margin-left: 15px;
}

#test-selected #content-test-selected
{
  width : 510px;
  height : 590px;
  padding : 0px 20px 20px 20px;
  font-family : arial;
  overflow : scroll;
}

#test-selected p
{
  text-align : justify;
  font-size : 14px;
  line-height : 140%;
}

#test-selected .chapo
{
  font-weight : bold;
}

.h1-header-test-selected
{
  display : block;
  font-size : 12px;
  margin-top : 0px;
  font-family : AvenirFont;
  color : white;
  font-size : 20px;
}

.imgleft
{
  width: 240px;
}

.img-block-test
{
  width : 240px;
  background-color : #f0f0f0;
  padding-bottom : 5px;

}

.img-block-test q
{
  font-size : 13px;
  text-align : center;
  quotes : none;
  display : block;

}

.floatright
{
  float : right;
  margin-left : 10px;
  margin-bottom : 2px;
}

.floatleft
{
  float : left;
  margin-right : 10px;
  margin-bottom : 2px;
}

#content-test-selected h2
{
  font-size : 20px;

}

#test-selected-right b
{
  color : #8c0000;
  font-size : 18px;
  font-family : Arial;

}

#test-selected-right
{
  display : inline-block;
  vertical-align : top;
  width : 320px;
  height : 680px;
  overflow-y : scroll;
  overflow-x : hidden;
  padding : 0px 20px 5px 20px;

}

#test-selected-right  .title-review
{
  width : 343px;
  text-align : center;
  padding : 0px 5px 0px 5px;
}

.test-selected-note
{
  font-family : AvenirFont;
  float : right;
  margin-left : 10px;
  background : #eaeaea;
  border-radius : 2px;
  padding : 2px 10px 2px 10px;

}

.test-selected-note .note-actu
{
  font-size: 44px;
  color : #d20000;
  font-weight: bold;
}

.test-selected-note .note-max
{
  font-size: 27px;
}

#test-selected-right .test-selected-review
{
  font-size : 14px;
  font-family : Arial;
}

#test-selected-right .positive li
{
  list-style-image: url('./assets/img/listpositive.png');
}

#test-selected-right .negative li
{
  list-style-image: url('./assets/img/listnegative.png');
}

#test-selected-right .li-position
{
  margin-bottom : 12px;
  display : inline-block;
  vertical-align : top;
}

#test-selected-right .positive-negative ul li
{
  font-family : Arial;
}













		#connection-title
		{
			text-align: center;
			display: block;
			font-family: AvenirFont;
			margin-top : 12px;
			font-size: 19px;
			margin-bottom: 25px;
		}

		#connection
		{
			position: relative;
		}

		 #connexion-pop-up
		 {
			 width : 400px;
			 height : 190px;
			 background: #fafafa;
			 border : 1px solid #c2c2c2;
			 box-shadow: 1px 1px 3px black;
			 position : absolute ;
			 top : 25px;
			 right : 0px;
			 display: none;
			 overflow: hidden;
		 }

		label
		{
			display: inline-block;
			width: 130px;
			float: left;
			margin-left: 60px;
			font-family: AvenirFont;

		}

		.btn-style{
	border : solid 1px #ffffff;
	border-radius : 2px;
	moz-border-radius : 2px;
	box-shadow : 1px 1px 5px rgba(0,0,0,1.0);
	font-size : 14px;
	color : white;
	padding : 1px 10px;
	background-color : #575757;
	margin : auto;
	cursor : pointer;

}

.btn-center
{
	text-align: center;
}

.connexion-inscription-menu
{
	font-family: arial;
	font-size: 15px;
	margin-bottom: 0px;
	text-align: center;

}

.connexion-inscription-menu span
{
	margin-left: 20px;
	margin-right: 20px;
	color : grey;
	text-decoration: none;
	cursor : pointer;
}

#inscription-form
{
	display: none;
}

#buttonGrow
{
  width:80px;
  height:80px;
  position:absolute;
  z-index:9999;
  top: 400px;
  margin-left:-35px;
  border: none;
  opacity:0.2;
}

#buttonGrow:hover
{
  opacity:1;
}

#buttonShrink
{
  width:80px;
  height:80px;
  display:none;
  position:absolute;
  z-index:9999;
  top: 400px;
  border: none;
  float:right;
  opacity:0.2;
}

#buttonShrink:hover
{
  opacity:1;
}

#h1
{
  font-size: 28px;
  font-family: AvenirFont;
  color : white;
  position:absolute;
  top:430px;
  margin-left:-195px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(270deg);
  display:none;
  z-index:9856;
}

#game-content-image
{
  margin-top: 30px;
}
